@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

body{
    /* background-color: black; */
    /* color: white; */
}
.suppret{
    color: black;
    text-align: center;
}
.nav-item{
    font-size: 15px;
    list-style: none;
    text-align: center;
}
.red{
    color: rgb(255, 62, 62);
}
i{
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
}
hr{
    /* color: gray; */
    border: 2px solid gray;
}
#logo{
    font-weight: bolder;
    color: rgb(58, 58, 58);
}
.carousel-inner{
    height: 80vh;
    /* border: 1px solid red; */
    color: black;
}
.carousel-control-prev-icon{
    /* height: 80vh; */
    padding: 30px 20px;
    background-color: black;
    color: white;
border-radius: 20px;

    
    
}
.fa-circle-arrow-right{
 color: black;
 font-size: 40px;
}
.fa-circle-arrow-left{
 color: black;
 font-size: 40px;
}